@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(218, 131, 1) 100%);
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.conteiner {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 30px 0;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 100%;
}

header nav ul {
    display: none;
}

header nav ul:active {
    display: flex;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    background: #b37435;
    border-radius: 5px;
    padding: 10px 18px;
    display: block;
    text-align: center;
    margin: 20px 20px;
    transition: all 300ms ease;
}



.trending {
    padding-top: 30px;
    display: none;
}

#fast-food {
    display: block;
}


.trending h3 {
    margin-left: 10px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.trending .see-all {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 10px 18px;
    display: block;
    text-align: center;
    margin: 20px auto;
    transition: all 300ms ease;
}

.trending .see-all:hover {
    transform: scale(1.05);
    border-radius: 15px;
}

.trending .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 30px 10px;
}



.trending .games .block {
    border-radius: 20px;
    transition: all 300ms ease;
    width: calc(50% - 10px);
}

.trending .games .block:hover {
    transform: scale(1.05);
}

.trending .games .block img {
    border-radius: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.menu-btn {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


/* Показываем кнопку меню на мобильных */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    nav ul {
        display: none; /* По умолчанию скрываем */
        flex-direction: column;
        top: 60px;
        left: 0px;
        width: 60%;
        text-align: center;

    }

    nav ul.active {
        display: flex; /* Показываем, когда активное */
    }

}

/* Адаптация блоков еды */
.trending .games {
    flex-direction: column; /* Ставим в колонку */
    align-items: center;
}

.trending .games .block {
    width: 90%;
    text-align: center;
}
